<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Product</ion-title>
    <ion-buttons slot="end">
      <ion-back-button icon="close" defaultHref="/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <ion-list>

      <ion-item>
        <ion-label position="floating">Image (URL))</ion-label>
        <ion-textarea ngModel #urlCtrl="ngModel" name="imgUrl" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Product Type</ion-label>
        <ion-select ngModel #typeCtrl="ngModel" [(ngModel)]="" name="productType" placeholder="Select" required [interfaceOptions]="customPopoverOptions" interface="popover" mode="ios">
          <ion-select-option value="CPU">Processor</ion-select-option>
          <ion-select-option value="RAM">RAM</ion-select-option>
          <ion-select-option value="Motherboard">Motherboard</ion-select-option>
          <ion-select-option value="GPU">GPU</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Brand</ion-label>
        <ion-input type="text" #merkCtrl="ngModel" ngModel name="merk" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-input type="text" #modelCtrl="ngModel" ngModel name="model" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price (IDR)</ion-label>
        <ion-input type="number" #priceCtrl="ngModel" ngModel name="price" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="number" #stockCtrl="ngModel" ngModel name="stock" required></ion-input>
      </ion-item>

      <ion-item *ngIf="productType != 'GPU'">
        <ion-label style="font-size: 16px;"><strong>Product Details</strong></ion-label>
      </ion-item>

      <div *ngIf="productType == 'CPU'">
        <ion-item>
          <ion-label position="floating">Base Clock (Ghz)</ion-label>
          <ion-input type="number" #baseCtrl="ngModel" ngModel name="baseClock" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Boost Clock (Ghz)</ion-label>
          <ion-input type="number" #boostCtrl="ngModel" ngModel name="boostClock" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Core</ion-label>
          <ion-input type="number" #coreCtrl="ngModel" ngModel name="core" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Threads</ion-label>
          <ion-input type="number" #threadCtrl="ngModel" ngModel name="thread" required></ion-input>
        </ion-item>
      </div>

      <div *ngIf="productType == 'RAM'">
        <ion-item>
          <ion-label position="floating">Speed (Mhz)</ion-label>
          <ion-input type="number" #speedCtrl="ngModel" ngModel name="speed" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Size (GB)</ion-label>
          <ion-input type="number" #sizeCtrl="ngModel" ngModel name="size" required></ion-input>
        </ion-item>
      </div>

      <div *ngIf="productType == 'Motherboard'">
        <ion-item>
          <ion-label position="floating">Chipset</ion-label>
          <ion-input type="text" #chipsetCtrl="ngModel" ngModel name="chipset" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Support Processor</ion-label>
          <ion-input type="text" #supportCtrl="ngModel" ngModel name="support" required></ion-input>
        </ion-item>
      </div>

    </ion-list>
    <ion-button [disabled]="!f.valid" type="submit" expand="block" style="margin-left: 5px; margin-right: 5px;">Save Product</ion-button>
  </form>
</ion-content>
